* {
  margin: 0;
  padding: 0;
}

body {
  margin: 1em;
  font-family: 'Oswald', sans-serif;
}

.line{
  border-top: 1px solid var(--varblack);
  width: 100%;
}

pre{
  font-family:'Oswald', sans-serif;
  font-size: large;
}

img{
  object-fit: cover;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #eae7df;
        color: black;
    }
    .logo-image{
        content: url(/static/assets/logoForLightTheme.svg);
    }
    .wrapper {
      --varwhite: #eae7df;
      --varblack: #323232;
      --varhover: #3232321a;
      --varorange: #f19601;


      --font-color: #323232;
      --button-bg-color: #f19601;
      --main-color: #323232;
      --input-focus: #f19601;
      --font-color-sub: #666;
      --input-bg-color: #eae7df;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #323232;
        color: white;
    }
    .logo-image{
        content: url(/static/assets/logoForDarkTheme.svg);
    }
    .wrapper {
      --varwhite: #323232;
      --varblack: #eae7df;
      --varhover: #eae7df21;
      --varorange: #f19601;

      --font-color: #eae7df;
      --button-bg-color: #f19601;
      --main-color: #eae7df;
      --input-focus: #f19601;
      --font-color-sub: hsla(44, 21%, 90%, 0.75);
      --input-bg-color: #323232;
    }
}

.usernameLink{
  text-decoration: none;
  color: var(--varblack);
}

.usernameLink:hover{
  text-decoration: underline;
}

.classic-button{
  padding: 0.5em 1em 0.5em 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid var(--varblack);
    background-color: var(--varorange);
    box-shadow: 4px 4px var(--varblack);
    font-size: 17px;
    font-weight: 600;
    color: var(--varblack);
    cursor: pointer;
}

.classic-button:active{
  box-shadow: 0px 0px var(--varblack);
  transform: translate(3px, 3px);
}

header{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding-bottom: 1em;
  position:static;
  .logo {
    justify-self: start;
    .name{
      cursor: pointer;
      display: flex;
      align-items: center;
      color: #f19601;
      font-size: 35px;
      margin-right: 17%;
      margin-top: -0.6%;
      .logo-image {
        height: 1.5em;
      }
    }
  }
  .search-bar{
    justify-self: center;
    position: relative;
    .input {
      width: 35em;
      height: 30px;
      border-radius: 5px;
      border: 2px solid var(--main-color) ;
      padding: 5px 15px;
      background-color: var(--input-bg-color);
      font-size: 15;
      font-weight: 500;
    }
    
    .placeholder {
      width: 35%;
      position: absolute;
      top: -17px;
      left: 25%;
      transform: translateX(-50%);
      z-index: 2;
      text-align: center;
      color: var(--input-focus);
      background-color: var(--input-bg-color);
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 1.5px;
      transition: all 0.3s;
      opacity: 0;
    }
    
    .input::placeholder {
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 1px;
    }
    
    .input:focus + .placeholder {
      opacity: 1;
    }
    
    .input:focus {
      outline: 2px solid var(--input-focus);
      border: none;
      color: var(--varblack);
    }
    
    .input:focus::placeholder {
      opacity: 0;
    }

  }
  .connect-or-user{
    justify-self: end;
    padding-right: 2em;

    /* Login Button */
    .login {
      width: 120px;
      height: 40px;
      border-radius: 5px;
      border: 2px solid var(--varblack);
      background-color: var(--varorange);
      box-shadow: 4px 4px var(--varblack);
      font-size: 17px;
      font-weight: 600;
      color: var(--varblack);
      cursor: pointer;
    }
    
    .login:active {
      box-shadow: 0px 0px var(--varblack);
      transform: translate(3px, 3px);
    }

    #connected {
      display: flex;
      justify-self: center;
      align-items: center;
      gap: 30px;
    }

    /* Logout Button */
    .logout {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: 2px solid var(--varblack);
      background-color: var(--varorange);
      box-shadow: 4px 4px var(--varblack);
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s;
      cursor: pointer;
    }
    
    .logout:active {
      box-shadow: 0px 0px var(--varblack);
      transform: translate(3px, 3px);
    }
    
    .icon {
      width: 24px;
      height: 24px;
      fill: var(--varblack);
    }

    #profilePicture{
      height: 4em;
      width: 4em;
      border-radius: 50%;
    }

    .profile{
      border-radius: 100%;
      border-radius: 50%;
      border: 2px solid var(--varblack);
      box-shadow: 4px 4px var(--varblack);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s;
      cursor: pointer;
    }

    .profile:active{
      box-shadow: 0px 0px var(--varblack);
      transform: translate(3px, 3px);
    }
  }
}

.content{
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  padding-top: 1em;
  nav{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-right: 3em;
    gap: 20px;
    border-right: 1px solid var(--varblack);
    .menu{
      padding: 0.5em 0 0.5em 0;
      text-align: center;
      text-decoration: none;
      border-radius: 5px;
      border: 2px solid var(--varblack);
      background-color: var(--varorange);
      box-shadow: 4px 4px var(--varblack);
      font-size: 17px;
      font-weight: 600;
      color: var(--varblack);
      cursor: pointer;
    }
    .menu:active {
      box-shadow: 0px 0px var(--varblack);
      transform: translate(3px, 3px);
    }
  }

  main{
    .honeycomb {
      position: absolute;
      top: 30%;
      left: 50%;
      height: 24px;
      width: 24px;
    }
  }
  
}

.form{
  position: fixed;
  display: none;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  form{
    align-self: center;
    justify-self: center;
    height: min-content;
    width: min-content;
    padding: 20px;
    background: var(--varwhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--varblack);
    box-shadow: 4px 4px var(--varblack);
    .title {
      color: var(--varblack);
      font-weight: 900;
      font-size: 20px;
      margin-bottom: 25px;
      text-align: center;
      width:auto;
    }
    .textInput::placeholder {
      color: var(--varblack); 
      opacity: 0.8;
    }
    
    .textInput:focus {
      border: 2px solid var(--varorange);
    }
    .textInput {
      width: 250px;
      height: 40px;
      border-radius: 5px;
      border: 2px solid var(--main-color);
      background-color: var(--bg-color);
      box-shadow: 4px 4px var(--main-color);
      font-size: 15px;
      font-weight: 600;
      color: var(--font-color);
      padding: 5px 10px;
      outline: none;
    }
    .textArea{
      width: 25em;
      height: 7em;
    }
    .button {
      width: 120px;
      height: 40px;
      border-radius: 5px;
      border: 2px solid var(--varblack);
      background-color: var(--varorange);
      box-shadow: 4px 4px var(--varblack);
      font-size: 17px;
      font-weight: 600;
      color: var(--varblack);
      cursor: pointer;
    }
    .fileInputs{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    .fileInput{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    .otherOptions{
      width: 10.3em;
    }
    .updateOptions{
      width: 20.4em;
    }
    .options{
      position: relative;
      height: 32px;
      background-color: var(--varwhite);
      border: 2px solid var(--varblack);
      border-radius: 34px;
      display: flex;
      flex-direction: row;
      box-shadow: 4px 4px var(--varblack);
      .option {
        width: 80.5px;
        height: 28px;
        position: relative;
        top: 2px;
        left: 2px;
      }
      
      .radioInput {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        appearance: none;
        cursor: pointer;
      }
      
      .btn {
        width: 100%;
        height: 100%;
        background-color: var(--bg-color);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .span {
        color: var(--varblack);
      }
      
      .radioInput:checked + .btn {
        background-color: var(--varorange);
      }
      
      .radioInput:checked + .btn .span {
        color: var(--varblack);
      }
    }

    .custum-file-upload {
      width: 250px;
      height: 40px;
      border-radius: 5px;
      display: none;
      flex-direction: row;
      align-items: space-between;
      gap: 20px;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      border: 2px solid var(--varblack);
      background-color: var(--varwhite);
      box-shadow: 4px 4px var(--varblack);
      padding: 5px 10px;
    }
    
    .custum-file-upload .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .custum-file-upload .icon svg {
      height: 30px;
      fill: var(--varblack);
      opacity: 0.8;
    }
    
    .custum-file-upload .text {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .custum-file-upload .text span {
      font-weight: 400;
      color: var(--varblack);
      opacity: 0.8;
    }
    
    .custum-file-upload input {
      display: none;
    }
  }
}

#connection{
  position: fixed;
  display: none;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  .switch {
    align-self: center;
    justify-self: center;
    transform: translateY(-200px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50px;
    height: 20px;
    top: -50px;
  }
  
  .card-side::before {
    position: absolute;
    content: 'Log in';
    left: -70px;
    top: 0;
    width: 100px;
    text-decoration: underline;
    color: var(--varwhite);
    font-weight: 600;
    font-size: larger;
  }
  
  .card-side::after {
    position: absolute;
    content: 'Sign up';
    left: 70px;
    top: 0;
    width: 100px;
    text-decoration: none;
    color: var(--varwhite);
    font-weight: 600;
    font-size: larger;
  }
  
  .toggle {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--varwhite);
    transition: 0.3s;
  }
  
  .slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    left: -2px;
    bottom: 2px;
    background-color: var(--varwhite);
    box-shadow: 0 3px 0 var(--main-color);
    transition: 0.3s;
  }
  
  .toggle:checked + .slider {
    background-color: var(--varorange);
  }
  
  .toggle:checked + .slider:before {
    transform: translateX(30px);
  }
  
  .toggle:checked ~ .card-side:before {
    text-decoration: none;
  }
  
  .toggle:checked ~ .card-side:after {
    text-decoration: underline;
  }
  
  /* card */ 
  
  .flip-card__inner {
    width: 300px;
    height: 350px;
    position: relative;
    background-color: transparent;
    perspective: 1000px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .toggle:checked ~ .flip-card__inner {
    transform: rotateY(180deg);
  }
  
  .toggle:checked ~ .flip-card__front {
    box-shadow: none;
  }
  
  .flip-card__front, .flip-card__back {
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #f19601;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
  }
  
  .flip-card__back {
    transform: rotateY(180deg);
  }

  .flip-card__front {
    padding: 20px;
  }
  
  .flip-card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .title {
    margin: 20px 0 20px 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: var(--main-color);
  }
  
  .flip-card__input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--varwhite);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }
  
  .flip-card__input::placeholder {
    color: var(--varblack);
    opacity: 0.8;
  }
  
  .flip-card__input:focus {
    border: 2px solid var(--varorange);
  }
  
  .flip-card__btn:active, .button-confirm:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }
  
  .flip-card__btn {
    margin: 20px 0 20px 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--varwhite);
    box-shadow: 4px 4px var(--main-color);
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
  }
  .name{
    margin-right: 44%;
  }
}

/* POPUP MESSAGES */
.messages{
  position: fixed;
  display: none;
  top: 3em;
  left: 0;
  right: 0;
  z-index: 3;
  width: 500px;
  align-self: start;
  justify-self: center;
}

.message{
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 476px;
  padding: 12px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px var(--varblack);
}


.message_icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.message_icon path {
  fill: var(--varblack);
}

.message_title {
  font-weight: 500;
  font-size: 14px;
  color: var(--varblack);
}

.message_close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.message_close path {
  fill: var(--varblack);
}

.message{
	-webkit-animation:moveOpen 1s;
}

/* Safari and Chrome */
@-webkit-keyframes moveOpen 
	{
  from {-webkit-transform: translate(0,-200px);}
  50% {-webkit-transform: translate(0,20px);}
  to {-webkit-transform: translate(0,0);}
  
}

.success {
  background: #84D65A;
}

.error {
  background: #EF665B;
}

.warning {
  background: #F7C752;
}

.info {
  background: #509AF8;
}


/* Media queries pour tablettes */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    border-bottom: 0px solid rgba(185, 168, 168, 0.769);

    }

    .logoTheme {
        height: 10%;
        width: 10%;
        margin-right: 50%;
    }

    .name {
        margin-right: 0;
        text-align: center;
        font-size: 25px;
        margin-right: 50%;
        margin-top: -2%;
    }

    .input {
        width: 70%;
        margin: 10px auto;
    }

    .loginButton {
        margin: 10px auto;
        margin-top: -15%;
        margin-right: 20%;
    }
}

/* Media queries pour téléphones */
@media (max-width: 480px) {
    .header{
    border-bottom: 0px solid rgba(185, 168, 168, 0.769);
    }
    .name {
        font-size: 20px;
        margin-right: 50%;
    }

    .input {
        padding: 5px;
    }

    .loginButton {
        padding: 10px;
        margin-top: -35%;
        margin-right: 20%;
    }

    .logoTheme {
        height: 15%;
        width: 15%;
        margin-right: 50%;
    }

    .exit {
        width: 12px;
    }
}

/* LIKES AND DISLIKES */
.like-dislike-container {
  --shadow: 0 5px 15px 0 #00000026;
  --shadow-active: 0 5px 5px 0 #00000026;
  --border-radius-main: 10px;
  --border-radius-icon: 50px;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  cursor: default;
  color: var(--varblack);
  padding: 0.5rem;
  padding-left: 0;
  font-weight: 600;
  max-width: max-content;
  border-radius: var(--border-radius-main);
  transition: .2s ease all;
  
}
  
  .like-dislike-container .tool-box {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    top: 0;
    right: 0;
    border-radius: var(--border-radius-main);
  }
  
  .like-dislike-container .btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: .8rem;
    height: .8rem;
    color: transparent;
    font-size: 0;
    cursor: pointer;
    background-color: #ff000080;
    border: none;
    border-radius: var(--border-radius-main);
    transition: .2s ease all;
  }
  
  .like-dislike-container .btn-close:hover {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    color: #ffffff;
    background-color: #ff0000cc;
    box-shadow: var(--shadow-active);
  }
  
  .like-dislike-container .btn-close:active {
    width: .9rem;
    height: .9rem;
    font-size: .9rem;
    color: #ffffffde;
    --shadow-btn-close: 0 3px 3px 0 #00000026;
    box-shadow: var(--shadow-btn-close);
  }
  
  .like-dislike-container .text-content {
    margin-bottom: 1rem;
    font-size: 18px;
    line-height: 1.6;
    cursor: default;
  }
  
  .like-dislike-container .icons-box {
    display: flex;
  }
  
  .like-dislike-container .icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    cursor: pointer;
    user-select: none;
    border: 1px solid var(--varblack);
    border-radius: var(--border-radius-icon);
    transition: .2s ease all;
  }
  
  .like-dislike-container .icons:hover {
    box-shadow: var(--shadow);
  }
  
  .like-dislike-container .icons:active {
    box-shadow: var(--shadow-active);
  }
  
  .like-dislike-container .icons .btn-label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    cursor: pointer;
    position: relative;
  }
  
  .like-dislike-container .like-text-content {
    border-right: 0.1rem solid var(--varblack);
    padding: 0 0.6rem 0 0.5rem;
    pointer-events: none;
  }
  
  .like-dislike-container .dislike-text-content {
    border-left: 0.1rem solid var(--varblack);
    padding: 0 0.5rem 0 0.6rem;
    pointer-events: none;
  }
  
  .like-dislike-container .icons .svgs {
    width: 1.3rem;
    fill: var(--varorange);
    box-sizing: content-box;
    padding: 10px 10px;
    transition: .2s ease all;
  }
  
  /* Hide the default checkbox */
  .like-dislike-container .icons .input-box {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .like-dislike-container .icons #icon-like-regular {
    display: block;
  }
  
  .like-dislike-container .icons #icon-like-solid {
    display: none;
  }
  
  .like-dislike-container .icons:hover :is(#icon-like-solid, #icon-like-regular) {
    animation: rotate-icon-like 0.7s ease-in-out both;
  }
  
  .like-dislike-container .icons #like-checkbox:checked ~ #icon-like-regular {
    display: none;
    animation: checked-icon-like 0.5s;
  }
  
  .like-dislike-container .icons #like-checkbox:checked ~ #icon-like-solid {
    display: block;
    animation: checked-icon-like 0.5s;
  }
  
  .like-dislike-container .icons #icon-dislike-regular {
    display: block;
    transform: rotate(180deg);
  }
  
  .like-dislike-container .icons #icon-dislike-solid {
    display: none;
    transform: rotate(180deg);
  }
  
  .like-dislike-container .icons:hover :is(#icon-dislike-solid, #icon-dislike-regular) {
    animation: rotate-icon-dislike 0.7s ease-in-out both;
  }
  
  .like-dislike-container .icons #dislike-checkbox:checked ~ #icon-dislike-regular {
    display: none;
    animation: checked-icon-dislike 0.5s;
  }
  
  .like-dislike-container .icons #dislike-checkbox:checked ~ #icon-dislike-solid {
    display: block;
    animation: checked-icon-dislike 0.5s;
  }
  
  .like-dislike-container .icons .fireworks {
    transform: scale(0.4);
  }
  
  .like-dislike-container .icons #like-checkbox:checked ~ .fireworks > .checked-like-fx {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 40px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    animation: 1s fireworks-bang ease-out forwards, 1s fireworks-gravity ease-in forwards, 5s fireworks-position linear forwards;
    animation-duration: 1.25s, 1.25s, 6.25s;
  }
  
  .like-dislike-container .icons #dislike-checkbox:checked ~ .fireworks > .checked-dislike-fx {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 40px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    animation: 1s fireworks-bang ease-out forwards, 1s fireworks-gravity ease-in forwards, 5s fireworks-position linear forwards;
    animation-duration: 1.25s, 1.25s, 6.25s;
  }
  
  /* Shake Animation */
  @keyframes rotate-icon-like {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  @keyframes rotate-icon-dislike {
    0% {
      transform: rotate(180deg) translate3d(0, 0, 0);
    }
  
    25% {
      transform: rotate(183deg) translate3d(0, 0, 0);
    }
  
    50% {
      transform: rotate(177deg) translate3d(0, 0, 0);
    }
  
    75% {
      transform: rotate(181deg) translate3d(0, 0, 0);
    }
  
    100% {
      transform: rotate(180deg) translate3d(0, 0, 0);
    }
  }
  
  /* Checked Animation */
  @keyframes checked-icon-like {
    0% {
      transform: scale(0);
      opacity: 0;
    }
  
    50% {
      transform: scale(1.2) rotate(-10deg);
    }
  }
  
  @keyframes checked-icon-dislike {
    0% {
      transform: scale(0) rotate(180deg);
      opacity: 0;
    }
  
    50% {
      transform: scale(1.2) rotate(170deg);
    }
  }
  
  /* Fireworks Animation */
  @keyframes fireworks-position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  
  @keyframes fireworks-gravity {
    to {
      transform: translateY(200px);
      opacity: 0;
    }
  }
  
  @keyframes fireworks-bang {
    to {
      box-shadow: 114px -107.3333333333px #8800ff, 212px -166.3333333333px #a600ff, 197px -6.3333333333px #ff006a, 179px -329.3333333333px #3300ff, -167px -262.3333333333px #ff0062, 233px 65.6666666667px #ff008c, 81px 42.6666666667px #0051ff, -13px 54.6666666667px #00ff2b, -60px -183.3333333333px #0900ff, 127px -259.3333333333px #ff00e6, 117px -122.3333333333px #00b7ff, 95px 20.6666666667px #ff8000, 115px 1.6666666667px #0004ff, -160px -328.3333333333px #00ff40, 69px -242.3333333333px #000dff, -208px -230.3333333333px #ff0400, 30px -15.3333333333px #e6ff00, 235px -15.3333333333px #fb00ff, 80px -232.3333333333px #d5ff00, 175px -173.3333333333px #00ff3c, -187px -176.3333333333px #aaff00, 4px 26.6666666667px #ff6f00, 227px -106.3333333333px #ff0099, 119px 17.6666666667px #00ffd5, -102px 4.6666666667px #ff0088, -16px -4.3333333333px #00fff7, -201px -310.3333333333px #00ffdd, 64px -181.3333333333px #f700ff, -234px -15.3333333333px #00fffb, -184px -263.3333333333px #aa00ff, 96px -303.3333333333px #0037ff, -139px 10.6666666667px #0026ff, 25px -205.3333333333px #00ff2b, -129px -322.3333333333px #40ff00, -235px -187.3333333333px #26ff00, -136px -237.3333333333px #0091ff, -82px -321.3333333333px #6a00ff, 7px -267.3333333333px #ff00c8, -155px 30.6666666667px #0059ff, -85px -73.3333333333px #6a00ff, 60px -199.3333333333px #55ff00, -9px -289.3333333333px #00ffaa, -208px -167.3333333333px #00ff80, -13px -299.3333333333px #ff0004, 179px -164.3333333333px #ff0044, -112px 12.6666666667px #0051ff, -209px -125.3333333333px #ff00bb, 14px -101.3333333333px #00ff95, -184px -292.3333333333px #ff0099, -26px -168.3333333333px #09ff00, 129px -67.3333333333px #0084ff, -17px -23.3333333333px #0059ff, 129px 34.6666666667px #7300ff, 35px -24.3333333333px #ffd900, -12px -297.3333333333px #ff8400, 129px -156.3333333333px #0dff00, 157px -29.3333333333px #1a00ff, -221px 6.6666666667px #ff0062, 0px -311.3333333333px #ff006a, 155px 50.6666666667px #00ffaa, -71px -318.3333333333px #0073ff;
    }
  }

/* HONEYCOMB LOADING WHEEL */
@-webkit-keyframes honeycomb {
    0%,
    20%,
    80%,
    100% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    30%,
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes honeycomb {
    0%,
    20%,
    80%,
    100% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
  
    30%,
    70% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  
  .honeycomb div {
    -webkit-animation: honeycomb 2.1s infinite backwards;
    animation: honeycomb 2.1s infinite backwards;
    height: 12px;
    margin-top: 6px;
    position: absolute;
    width: 24px;
  }
  
  .honeycomb div:after, .honeycomb div:before {
    content: '';
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    left: 0;
    right: 0;
  }

  .orangehoneycomb {
    background: var(--varorange);
  }
  
  .orangehoneycomb:after {
    top: -5.75px;
    border-bottom: 6px solid var(--varorange);
  }
  
  .orangehoneycomb:before {
    bottom: -5.75px;
    border-top: 6px solid var(--varorange);
  }

  .blackhoneycomb {
    background: var(--varblack);
  }

  .blackhoneycomb:after {
    top: -5.75px;
    border-bottom: 6px solid var(--varblack);
  }
  
  .blackhoneycomb:before {
    bottom: -5.75px;
    border-top: 6px solid var(--varblack);
  }
  
  .honeycomb div:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    left: -28px;
    top: 0;
  }
  
  .honeycomb div:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    left: -14px;
    top: 22px;
  }
  
  .honeycomb div:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    left: 14px;
    top: 22px;
  }
  
  .honeycomb div:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    left: 28px;
    top: 0;
  }
  
  .honeycomb div:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    left: 14px;
    top: -22px;
  }
  
  .honeycomb div:nth-child(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    left: -14px;
    top: -22px;
  }
  
  .honeycomb div:nth-child(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    left: 0;
    top: 0;
  }