<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/community.css">
    <title>Community</title>
</head>
<body>
  <script src="/static/scripts/community.js" type="module"></script>
  <h1>COMMUNITY</h1>
  {{if .Name}}
  <p>{{.Name}}</p>
  {{end}}

  <form enctype="multipart/form-data" method="post" action="/createCommunity" id="myForm">
    <input type="text" placeholder="community name" name="name">
    <input type="file" name="myFile" >
    <input type="submit" value="upload" >
  </form>
</body>
</html>