<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="stylesheet" href="../static/style/connection.css">
    <link href="../static/assets/logoForDarkTheme.svg" rel="icon" media="(prefers-color-scheme: dark)"/>
    <link href="../static/assets/logoForLightTheme.svg" rel="icon" media="(prefers-color-scheme: light)"/>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">

    <title>login|Signup</title>
</head>
<body>
   <div class="header">
      <img src="../static/assets/logoForLightTheme.svg" class="logoTheme">
      <text class="name">ThreadCore</text>
</div>
    <div class="container">
    <div class="wrapper">
        <div class="card-switch">
            <label class="switch">
               <input type="checkbox" class="toggle">
               <span class="slider"></span>
               <span class="card-side"></span>
               <div class="flip-card__inner">
                  <div class="flip-card__front">
                     <div class="title">Log in</div>
                     <form class="flip-card__form" action="/login">
                        <input class="flip-card__input" name="email" placeholder="Email" type="email" required>
                        <input class="flip-card__input" name="password" placeholder="Password" type="password" required>
                        {{if .ErrorMessage}}
                        <p style="color:rgb(0, 0, 0); background-color: red;">{{.ErrorMessage}}</p>
                     {{end}}
                        <button class="flip-card__btn">Let's go!</button>
                     </form>
                  </div>
                  <div class="flip-card__back">
                     <div class="title">Sign up</div>
                     <form class="flip-card__form" action="/singup">
                        <input class="flip-card__input" name="username" placeholder="Username" type="username" required>
                        <input class="flip-card__input" name="email" placeholder="Email" type="email" required>
                        <input class="flip-card__input" name="password" placeholder="Password" type="password" required>
                        <input class="flip-card__input" name="passwordConfirm" placeholder="Confirm Password" type="password" required>
                        <button class="flip-card__btn">Confirm!</button>
                     </form>
                  </div>
               </div>
            </label>
        </div>   
   </div>
</div>
</body>
</html>