<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="stylesheet" href="../static/style/connection.css">
    <title>login|Signup</title>
</head>
<script>
   if ("{{.Email}}") {
     console.log("{{.Email}}")
     // Display the profile picture
     document.getElementById("profile-pic").style.display = "block";
     // Hide the login button
     document.getElementById("login-btn").style.display = "none";
   } else {
     // Display the login button
     document.getElementById("login-btn").style.display = "block";
     // Hide the profile picture
     document.getElementById("profile-pic").style.display = "none";
   }
 </script>
<body>
   <div class="header">
      <img src="../static/images/logoForLightTheme.svg" class="logoTheme">
      <text class="name" >ThreadCore</text>
  
  <button id="loginButtonId" class="loginButton">Login
      <svg viewBox="0 0 512 512" class="exit" ><path d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"></path></svg>
  </button>
  <img id="profilePicture" src="../static/images/defaultProfliePicture.svg" alt="Profile Picture">
</div>
    <div class="container">
    <div class="wrapper">
        <div class="card-switch">
            <label class="switch">
               <input type="checkbox" class="toggle">
               <span class="slider"></span>
               <span class="card-side"></span>
               <div class="flip-card__inner">
                  <div class="flip-card__front">
                     <div class="title">Log in</div>
                     <form class="flip-card__form" action="">
                        <input class="flip-card__input" name="email" placeholder="Email" type="email" required>
                        <input class="flip-card__input" name="password" placeholder="Password" type="password" required>
                        {{if .ErrorMessage}}
                        <p style="color:rgb(0, 0, 0); background-color: red;">{{.ErrorMessage}}</p>
                     {{end}}
                        <button class="flip-card__btn">Let's go!</button>
                     </form>
                  </div>
                  <div class="flip-card__back">
                     <div class="title">Sign up</div>
                     <form class="flip-card__form" action="">
                        <input class="flip-card__input" name="username" placeholder="Username" type="username" required>
                        <input class="flip-card__input" name="email" placeholder="Email" type="email" required>
                        <input class="flip-card__input" name="password" placeholder="Password" type="password" required>
                        <button class="flip-card__btn">Confirm!</button>
                     </form>
                  </div>
               </div>
            </label>
        </div>   
   </div>
</div>
</body>
</html>