<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/home.css">
    <link href="../static/assets/logoForDarkTheme.svg" rel="icon" media="(prefers-color-scheme: dark)"/>
    <link href="../static/assets/logoForLightTheme.svg" rel="icon" media="(prefers-color-scheme: light)"/>

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body class="wrapper">
    <!-- Scripts -->
    <script src="/static/scripts/javascript.js" type="module"></script>

    <!-- Header -->
    <header>
        <section class="logo">
            <p class="name"><img src="/static/assets/logoForLightTheme.svg" class="logo-image" alt="Logo">ThreadCore</p>
        </section>
        <section class="search-bar">
            <input placeholder="Search Communities, Posts or Users" class="input" id="search"/>
            <span class="placeholder">Search on ThreadCore</span>
        </section>
        <section class="connect-or-user">
            <article id="connect">
                <button class="login">
                    Login →
                </button>
            </article>
            <!-- <article id="profile">
                <img id="profilePicture" src="/static/assets/profileTemplate.svg" alt="Profile Picture">
            </article> -->
        </section>
    </header>
    <section class="content">
        <nav>
            <button id="home">
                <h3>Home</h3>
            </button>
            <button id="popular">
                <h3>Popular</h3>
            </button>
            <button id="all">
                <h3>All</h3>
            </button>
            <div id="line"></div>
            <button id="createUserPost">
                <h3>Create Post</h3>
            </button>
            <div id="line"></div>
            <button id="createCommunity">
                <h3>Create Community</h3>
            </button>
        </nav>
        <main>
            <div class="honeycomb">
                <div class="blackhoneycomb"></div>
                <div class="orangehoneycomb"></div>
                <div class="blackhoneycomb"></div>
                <div class="blackhoneycomb"></div>
                <div class="orangehoneycomb"></div>
                <div class="orangehoneycomb"></div>
                <div class="orangehoneycomb"></div>
            </div>
        </main>
        <aside>
            <div>test</div>
        </aside>
    </section>
    
    
</div>
</body>
</html>