<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/message.css">
    <link href="../static/images/logoForDarkTheme.svg" rel="icon" media="(prefers-color-scheme: dark)"/>
    <link href="../static/images/logoForLightTheme.svg" rel="icon" media="(prefers-color-scheme: light)"/>
    <title>Message</title>
</head>
<body>
    <h1>MESSAGE</h1>
</body>
</html>