<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="stylesheet" href="/static/style/notFound.css">
    <link rel="icon" href="../static/images/notFoundFavIcon.png" type="image/png">
    <title>Not Found</title>
</head>
<body class="notFound">
    <div class="container">
    <button class="buttonBack" onclick="window.location.href='home'" >Back to home</button>
</div>
</body>
</html>