<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/profile.css">
    <link href="../static/images/logoForDarkTheme.svg" rel="icon" media="(prefers-color-scheme: dark)"/>
    <link href="../static/images/logoForLightTheme.svg" rel="icon" media="(prefers-color-scheme: light)"/>

    <title>Profile</title>
</head>
<body>
    <h1>PROFILE</h1>
    <h1>COMMUNITY</h1>
    {{if .Name}}
    <p>{{.Name}}</p>
    {{end}}
</body>
</html>